/*Default styles first and then media queries*/
body {
	background-color: #0000ff;
	text-align: center;
}

/*NAVBAR*/
/*		*/
/*		*/
.navbar {
	width: 70%;
	max-width: 960px;
	background-color: magenta;
	margin: 0px auto;
	padding: 1% 0;
	text-align: center;
	border-radius: 5px;
}

a {
	text-decoration: none;
	color: lightgreen;
	display: inline-block;
	font-style: italic;
	font-size: 1.2em;
	margin: 1% 1.5%;
}

/*MAIN IMAGE*/
/*			*/
.img_container {
	display: inline-block;
	min-width: 200px;
	width: 30%;
	max-width: 400px;
	margin: 2.5% .5% 2.5% 7.5%;
	float: left;
}

.img_container img {
	width: 100%;
}

/*CONTENT*/
/*		 */
.main_content {
	font-family: "Comic Sans MS", Wingdings, serif;
	width: 80%;
	max-width: 960px;
	margin: 0px auto;
}

p {
	color: #ff6600;
	text-align: initial;
	padding: 0px 2%;
}

/*GALLERY*/
/*		 */
/*		 */
.gallery {
	display: inline-block;
	width: 75%;
	margin: 2% 0px 30px 0px;
}

.gallery img {
	display: inline-block;
	margin: 2% 1%;
	width: 20%;
	max-width: 200px;
}

/*RESPONSIVE DESIGN*/

/*First break point*/
/*gallery from 4x1 to 2x2 and Main Image*/
@media all and (max-width: 650px) {
	.navbar {
		width: 270px;
	}

	.img_container {
		float: none;
		margin: 2% 0px 0px 0px;
		max-width: 300px;
		width: 60%;
	}

	.gallery img {
		display: inline-block;
		max-width: 175px;
		width: 100%;
	}
}

/*Second break point*/
/*vertical navbar, 1x4 gallery*/
@media screen and (max-width: 480px) {
	.navbar {
		width: 50%;
		min-width: 125px;
	}
	a {
		display: block;
		width: 100%;
		padding: 1%;
	}
	.gallery img {
		width: 100%;
		max-width: 175px;
	}
}