/*Default styles first and then media queries*/
body {
	background-color: #ffff00;
	text-align: center;
}

/*NAVBAR*/
/*		*/
/*		*/
.navbar {
	width: 70%;
	max-width: 960px;
	background-color: magenta;
	margin: 0px auto;
	padding: 1% 0;
	text-align: center;
	border-radius: 5px;
}

a {
	text-decoration: none;
	color: lightgreen;
	display: inline-block;
	vertical-align: middle;
	font-style: italic;
	font-size: 1.2em;
	margin: 1% 1.5%;
}

/*MAIN IMAGE*/
/*			*/
/*			*/
.img_container {
	display: inline-block;
	min-width: 200px;
	width: 30%;
	max-width: 600px;
	margin: 2.5% .5% 2.5% 7.5%;
	float: left;
}

.img_container img {
	width: 100%;
}

/*CONTENT*/
/*		 */
.main_content {
	font-family: "Comic Sans MS", Wingdings, serif;
	width: 80%;
	max-width: 960px;
	margin: 0px auto;
}

p {
	color: #3fff00;
	text-align: initial;
	padding: 0px 2%;
}

/*GALLERY*/
/*		 */
/*		 */
.gallery {
	display: inline-block;
	width: 75%;
	margin: 2% 0px 30px 0px;
}

.gallery img {
	display: inline-block;
	text-align: center;
	margin: 2% 1%;
}

/*RESPONSIVE DESIGN*/

/*Adjusting Navbar and Main Image*/
@media all and (max-width: 635px) {
	.navbar {
		width: 65%;
		min-width: 125px;
	}
	a {
		vertical-align: middle;
		display: block;
		width: 100%;
		padding: 3% none;
	}

	.img_container {
		float: none;
		margin: 2% 0px 0px 0px;
		max-width: 400px;
		width: 70%;
	}

	.gallery img {
		display: inline-block;
		max-width: 175px;
		width: 100%;
	}
}

/*Gallery-driven break points*/
/*shrinking 4x1*/
@media screen and (max-width: 1070px) {

}

/*2x2 break point*/
@media screen and (max-width: 800px) {
	.gallery img {
		width: 40%;
		max-width: 175px;
		margin: 2% 5%;
	}
}

/*1x4 break point*/
@media screen and (max-width: 480px) {
	.gallery img {
		display: inline-block;
		margin: 3% 1%;
	}
}